<%- include("header"); -%> 

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">
        <% for(var i = 0; i < yoTe.length; i++){ %> 
            <div class="item">
                <input type="checkbox">
                <p><%= yoTe[i]  %></p>
            </div>
        <% } %> 

        <form action="/" method="POST">
            <input type="text" name="wtd" placeholder="what to do" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
    </div>

</body>

<%- include("footer"); -%> 